<form action="/cart/<%= product.id %>" method="POST" class="w-full">
  <button class="w-full bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded-md transition duration-300">
    <i class="fas fa-shopping-cart mr-2"></i>Add to cart
  </button>
</form>